{% extends "base.html" %}
{% block content %}

<div class="box">


    <form action="{{ url_for('update') }}" method="post">
        <h1>Alterar Acesso</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                 <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="text" name="username" placeholder="Usuario atual"/>
        <input type="password" name="password" placeholder="Senha atual"/>
        <input type="text" name="new_username" placeholder="Editar nome"/>
        <input type="password" name="new_password" placeholder="Criar nova senha"/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Editar</button>
    </form>
</div>

{% endblock %}